.catalog {
  padding-bottom: 100px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    width: 222px;
    height: 52px;
    border: 2px solid #d0d0d0;
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      box-shadow: 3px 3px 20px #5f9ea0;
      border: none;
    }
    transform: skewX(-25deg);
    div {
      transform: skewX(25deg);
    }
    &_active {
      color: #fff;
      background-color: #c70101;
      border: none;
    }
  }
  &__content {
    margin-top: 57px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &_active {
      display: flex;
    }
  }
  &-item {
    width: 303px;
    min-height: 442px;
    background: #ffffff;
    border: 2px solid #e8e8e8;
    padding: 20px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    &__img {
      max-width: 100%;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
    &__subtitle {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      color: #0d0d0d;
      margin-top: 15px;
    }
    &__descr {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #0d0d0d;
      margin-top: 15px;
    }
    &__link {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #c70101;
      text-align: center;
      margin-top: 10px;
      &:hover {
        color: #c70101;
      }
    }
    hr {
      background-color: #e8e8e8;
      border-bottom: none;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      text-decoration-line: line-through;
      color: #555555;
    }
    &__price {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: 0.5s all;
      &_active {
        margin-right: 20px;
        transform: translateX(0%);
      }
    }
    &__list {
      position: relative;
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      transition: 0.5s all;
      padding-left: 19;
      padding-right: 22px;
      margin-bottom: 0;
      list-style-type: none;
      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #555555;
        margin-top: 10px;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #c70101;
          left: -14px;
          top: 7px;
        }
      }
      &_active {
        margin-left: 0px;
        transform: translateX(-100%);
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #c70101;
      left: 101px;
      &:hover {
        color: #c70101;
      }
    }
  }
}
