.consultation {
  min-height: 680px;
  padding: 100px 0 100px 0;
  background: url(../images/bg/bg2.jpg) center (center/cover) no-repeat;
  &__descr {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
.consultation .feed-form label.error {
  color: #ffffff;
}
