@media (max-width: 1200px) {
  .header {
    justify-content: space-around;
  }
  .pluses {
    &__item {
      width: 220px;
    }
  }
}
@media (max-width: 991px) {
  .promo {
    &__wrapper {
      align-items: center;
    }
  }
  .pluses {
    &__wrapper {
      justify-content: space-around;
    }
  }
  .title {
    &_left {
      font-size: 34px;
      margin-left: 20px;
    }
  }
  .consultation {
    &__descr {
      margin-left: 20px;
      font-size: 18px;
      line-height: 23px;
    }
  }
  .feed-form {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    &__oficial {
      margin-top: 10px;
      span {
        margin-top: 2px;
      }
    }
    &__contacts {
      margin-top: 15px;
    }
    &__phone {
      margin-top: 10px;
    }
    &__logo {
      width: 180px;
    }
  }
  .pluses {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 575px) {
  .promo {
    &__header {
      font-size: 35px;
      text-align: center;
    }
    &__subheader {
      font-size: 20px;
      text-align: center;
    }
    &__icons {
      flex-direction: column;
      align-items: center;
    }
  }
  .title {
    font-size: 25px;
  }
  .feed-form {
    width: 85%;
  }
}
