@media (max-width: 1200px) {
  .header {
    justify-content: space-around;
  }
  .pluses {
    &__item {
      width: 220px;
    }
  }
}
@media (max-width: 991px) {
  .promo {
    &__wrapper {
      align-items: center;
    }
  }
  .pluses {
    &__wrapper {
      justify-content: space-around;
    }
  }
  .title {
    &_left {
      font-size: 34px;
      margin-left: 20px;
    }
  }
  .consultation {
    &__descr {
      margin-left: 20px;
      font-size: 18px;
      line-height: 23px;
    }
  }
  .feed-form {
    margin-left: 20px;
  }
  .carousel {
    &__inner {
      z-index: 1;
    }
    .slick-prev {
      z-index: 2;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    .slick-next {
      z-index: 2;
      right: 0;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .catalog {
    &__content {
      justify-content: space-around;
    }
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    &__oficial {
      margin-top: 10px;
      span {
        margin-top: 2px;
      }
    }
    &__contacts {
      margin-top: 15px;
    }
    &__phone {
      margin-top: 10px;
    }
    &__logo {
      width: 180px;
    }
  }
  .pluses {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  .carousel {
    &__inner {
      width: 570px;
      img {
        width: 570px;
      }
    }
  }
  .catalog__tabs {
    padding: 0 15px;
  }
}
@media (max-width: 575px) {
  .promo {
    &__header {
      font-size: 35px;
      text-align: center;
    }
    &__subheader {
      font-size: 20px;
      text-align: center;
    }
    &__icons {
      flex-direction: column;
      align-items: center;
    }
  }
  .title {
    font-size: 22px;
  }
  .feed-form {
    width: 85%;
  }
  .carousel {
    &__inner {
      width: 300px;
      img {
        width: 300px;
      }
    }
    .slick-prev {
      img {
        width: 20px;
        height: 40px;
        opacity: 0.7;
      }
    }
    .slick-next {
      img {
        width: 20px;
        height: 40px;
        opacity: 0.7;
      }
    }
  }
  .catalog {
    &__tabs {
      flex-wrap: wrap;
    }
    &__tab {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
