.pluses {
  min-height: 473px;
  padding: 70px 0 70px 0;
  &__h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #0d0d0d;
  }
  &__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 269px;
    img {
      display: block;
      margin: 0 auto;
    }
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: #0d0d0d;
      margin-top: 30px;
    }
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      margin-top: 20px;
      text-align: center;
      a {
        color: #ff0000;
      }
    }
  }
}
