* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MuseoSansCyrl";
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
.button {
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  border: none;
  &_main {
    width: 300px;
    height: 50px;
    margin-top: 68px;
    text-transform: uppercase;
  }
  &_submit {
    width: 100%;
    height: 58px;
    text-transform: uppercase;
    font-size: 16px;
  }
  &_mini {
    width: 135px;
    height: 44px;
    font-size: 14px;
  }
}
.title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  color: #0d0d0d;
  &_left {
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: 36px;
  }
}
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    height: 54px;
    margin-top: 11px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 66px;
    color: #4b4b4b;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
@import "promo";
@import "header";
@import "pluses";
@import "consultation";
@import "carousel";
@import "catalog";
@import "reviews";
@import "media";
